:root {
    --main-font: 'Roboto', sans-serif;
    --socondary-font: 'Raleway', sans-serif;
    --dark-color: #2e2f42;
    --primarybrand-color: #4d5ae5;
    --text-color: #434455;
    --modalbackground-color: #fff;
    --light-color: #f4f4fd;
    --accent-color: #e7e9fc;
    --pressedstate-color: #404bbf;
    --subtle-text: #8E8F99;
    --green: #31D0AA;
    --modal-background: #FCFCFC;
    --white-background: #FFFFFF;


}

body {
    font-family: var(--main-font);
    color: var(--text-color);
    background-color: var(--modalbackground-color);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.section {
    padding: 120px 0px;
}

.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.link {
    text-decoration: none;
}

.list {
    list-style: none;
}

.studio {
    color: var(--dark-color);
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.close-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    background-color: var(--accent-color);
    cursor: pointer;
    z-index: 50;

    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.cross-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation-page {
    position: relative;
    display: flex;
    text-decoration: none;
    color: var(--dark-color);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.32px;



}

.navigation-page:hover,
.navigation-page:focus,
.navigation-page:active {
    color: var(--pressedstate-color);
}

.email,
.phone,
.address,
.contact {
    color: var(--text-color);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.32px;
    text-decoration: none;
    font-style: normal;
}

.social-link:hover,
.social-link:focus {
    background-color: var(--pressedstate-color);
}

.section-sollution {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url("../images/img-name.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.sollutions {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 188px;

}

.sollutions-tiitle {
    color: var(--modalbackground-color);

}

.buttom-order {
    font-family: var(--main-font);
    color: var(--modalbackground-color);
    display: block;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.64px;
    background-color: var(--primarybrand-color);
    cursor: pointer;
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    padding: 16px 32px;
    min-width: 169px;
    height: 56px;
    border: none;
    margin: 0 auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);


}

.buttom-order:focus,
.buttom-order:hover {
    background-color: var(--pressedstate-color);
}


.feature-description {
    color: var(--text-color);
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.32px;
    margin: 0px
}

/* ================================================= MOBILE 👇 ========================================= */
@media screen and (min-width: 480px) and (max-width: 767px) {
    .container {
        max-width: 480px;
        margin: 0 auto;
        padding: 0 16px 0 16px;
    }

    .container-header {
        height: 70px;
        width: 100%;
        margin: 0 auto;
        padding: 0 16px 0 16px;
    }

    .menu-header,
    .address {
        display: none;
    }

    .logo {
        color: var(--primarybrand-color);
        font-family: var(--socondary-font);
        font-size: 18px;
        font-weight: 800;
        line-height: 1.17;
        letter-spacing: 0.54px;
        text-transform: uppercase;
        text-decoration: none;
    }

    .navigation {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 24px;
    }

    .burger-icon {
        display: block;
        background-color: none;
    }

    .burger-btn {
        background-color: none;
        border: none;
    }


    .menu {
        width: 100%;
        height: 100%;
        border-radius: 4px;
        background: var(--white-background);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 50;
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
        padding-top: 80px;
        padding-right: 24px;
        padding-left: 40px;
    }

    .navigation-page {
        font-size: 36px;
        font-weight: 700;
        line-height: 1.1;
        letter-spacing: 0.72px;

    }

    .phone {
        color: var(--primarybrand-color);
        font-size: 36px;
        font-weight: 700;
        line-height: 1.1;
        letter-spacing: 0.72px;
        text-decoration: none;
        padding-bottom: 40px;
    }

    .menu-tittles {
        display: flex;
        flex-direction: column;
        gap: 24px;
        padding-bottom: 284px;
    }

    .mail {
        display: block;
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2px;
        letter-spacing: 0.4px;
        color: var(--text-color);
        padding-bottom: 48px;
    }

    .menu-contact {
        display: flex;
        flex-direction: column;
    }

    .list-social-menu {
        display: flex;
        padding: 0px;
        padding-bottom: 40px;
        align-items: center;
        margin: 0 auto;
        justify-content: center;
        gap: 56px;
    }

    .social-list {
        width: 40px;
        height: 40px;
    }

    .social-link {
        width: 100%;
        height: 100%;
        background-color: var(--primarybrand-color);
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .section-sollution {
        max-width: 767px;
        margin: 0 auto;
        padding: 112px 0;
    }

    .sollutions-tiitle {
        max-width: 320px;
        font-size: 36px;
        font-weight: 700;
        line-height: 1.11;
        letter-spacing: 0, 72px;
        margin-bottom: 72px;
    }

    .buttom-order {
        border-radius: 4px;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
        padding: 16px 32px;
        min-width: 105px;
        height: 56px;
        border: none;
        margin: 0 auto;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .features-icon {
        display: none;
    }

    .section {
        padding: 96px 0px;
    }

    .container-features {
        width: 100%;
        margin: 0 auto;
        align-items: center;
    }

    .features-strategy {
        font-size: 0px;
    }

    .feature_div-icon {
        display: none;
    }

    .feature-flex {
        display: flex;
        flex-direction: column;
        padding: 0px;
        margin: 0 auto;
        gap: 72px;
        justify-content: center;
        align-items: center;
        
    }

    .feature-name {
        color: var(--dark-color);
        display: block;
        font-size: 36px;
        font-weight: 700;
        line-height: 1.11;
        letter-spacing: 0.72px;
        align-items: center;
        justify-items: center;
        margin: 0 auto;
        
    }
.section-devices{
    display: none;
}
.team {
    background-color: var(--light-color);
}
.container-team {
    width: 767;
    margin: 0 auto;
}
.team-tittle {
    color: var(--dark-color);
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    text-transform: capitalize;
    letter-spacing: 0.02em;
    margin: 0px 0px 72px;
}
.team-flex {
    display: flex;
    flex-direction: column;
    padding: 0px;
    margin: 0 auto;
    text-align: center;
    gap: 72px;
    align-items: center;
}

.team-member {
    background-color: var(--modalbackground-color);
    width: 264px;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.teamer-name {
    padding-top: 32px;
    padding-bottom: 8px;
}
.team-name {
    color: var(--dark-color);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.4px;
    text-align: center;
    margin-bottom: 8px;
}
.team-role {
    color: var(--text-color);
    font-size: 16px;
      font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.32px;
    text-align: center;
    margin: 0px;
}

.list-social {
    display: flex;
    padding-top: 8px;
    padding-bottom: 32px;
    padding-left: 0px;
      align-items: center;
    margin: 0 auto;
    justify-content: center;
    gap: 24px;
}
.customers {
    padding: 96px 0;
}
.cusotmers-tittle {
    text-align: center;
    color: var(--dark-color);
    text-align: center;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0.72px;
    line-height: 1.11;
    margin-top: 0px;
    margin-bottom: 72px;
    text-transform: capitalize;
}
.list-customers {
    display: flex;
    height: 88px;
    gap: 16px;
    padding-left: 0px;
    margin: 0 auto;
    justify-content: space-between;
}

.customer-link {
    display: flex;
    flex-wrap:wrap;
    cursor: pointer;
    width: 100%;
    height: 100%;
    border: 1px solid var(--subtle-text);
    border-radius: 4px;
    align-items: center;
    justify-content: center;
    color: var(--subtle-text);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.customer-icon {
    fill: currentColor;
    display: block;
    width: 110px;
    height: 56px;
}
}





















/* ================================================= TABLET 👇 ========================================= */
@media screen and (min-width: 768px) {
    /* cały kod */
}

/* ================================================= NOT DESKTOP 👇 ========================================= */
@media screen and (max-width: 1199px) {
    .icon-features {
        display: none;
    }
}

/* ================================================= DESKTOP 👇 ========================================= */
@media screen and (min-width: 1200px) {
    /* co jest potrzebne dla desktopu */
}